<nav class="navbar fixed-top navbar-light d-flex align-items-center">
    <h1>Shopping Cart  <i class="fa fa-shopping-bag" aria-hidden="true"></i> </h1>
    <div class="search-container d-flex">
        <div class="dropdown">
            <button class="btn btn-light bar-button"
                    type="button"
                    id="categoryDropdown" 
                    data-bs-toggle="dropdown" 
                    aria-expanded="false"
                    (click)="selectCategory('')"
                    >
                <i class="fa fa-bars"></i>
            </button>
            <ul class="dropdown-menu menu-style" aria-labelledby="categoryDropdown">
                <li *ngFor="let category of categories">
                <a class="dropdown-item" href="#" (click)="selectCategory(category)">
                    {{ category }}
                </a>
                </li>
            </ul>
        </div>
        <input 
          type="text" 
          class="form-control search-bar ml-4" 
          placeholder="Search products..." 
          [(ngModel)]="productName" 
          (input)="updateProductSearch()"
        >
        <button class="btn btn-light ms-2 search-button" (click)="updateProductSearch()">
            <i class="fa fa-search" inv></i>
        </button>
    </div>
    <div class="menu"></div>
        <a>
            <i class="fas fa-shopping-cart" id="cart"></i>
            <span class="cart">{{products_count}}</span>
        </a>
</nav>

