<form class="form-wrapper" [formGroup]="shoppingForm">
    <div class="row">
        <section class="col-4">
            <div class="row">
                <div class="form-group col-6">
                    <h4>Nombre</h4>
                    <input type="text" class="form-control" id="nombre" placeholder="Nombre" formControlName="name" [class.is-invalid]="isInvalid('name')">
                </div>
                <div class="form-group col-6">
                    <h4>Contraseña</h4>
                    <input type="password" class="form-control" id="contraseña" placeholder="Contraseña" formControlName="password" [class.is-invalid]="isInvalid('name')">
                </div>
            </div>
        </section>
        <section class="col-8 mb-4">
            <div class="row">
                <div class="col-3 cart-button">
                    <button type="button" class="btn btn-primary cart-button-content" (click)="createCart()">Create cart</button>
                </div>
                <div class="col-3 cart-button">
                    <button type="button" class="btn btn-primary cart-button-content" [disabled]="!cart_create" (click)="payCart()">Pay cart</button>
                </div>
                <div class="col-3 cart-button">
                    <button type="button" class="btn btn-primary cart-button-content" [disabled]="!cart_create" (click)="deleteCart()">Delete cart</button>
                </div>
                <div class="col-3 cart-button">
                    <button type="button" class="btn btn-primary cart-button-content" [disabled]="!cart_create" (click)="calculateCostCart()">Cost cart</button>
                </div>
            </div>
        </section>
    </div>
</form>

<app-products [cart_create]="cart_create" (productAddedEvent)="addProduct($event)" (productSubstractEvent)="substractProduct($event)"></app-products>