<section class="mt-5 row">
    <div class="col-3 d-flex flex-column align-items-left" id="Laptop">
        <img src="assets/products/laptop.jpg" alt="" class="image-product">
        <app-button-shop #buttonShop [cart_create]="cart_create" [product_name]="'Laptop'" (addProductEvent)="addProduct($event)" (substracProductEvent)="substractProduct($event)"></app-button-shop>
    </div>
    <div class="col-3 d-flex flex-column align-items-left">
        <img src="assets/products/auriculares.jpg" alt="" class="image-product">
        <app-button-shop #buttonShop [cart_create]="cart_create" [product_name]="'Auriculares'" (addProductEvent)="addProduct($event)" (substracProductEvent)="substractProduct($event)"></app-button-shop>
    </div>
</section>
<section class="row">
    <div class="col-3 d-flex flex-column align-items-left">
        <img src="assets/products/monitor.jpg" alt="" class="image-product">
        <app-button-shop #buttonShop [cart_create]="cart_create" [product_name]="'Monitor'" (addProductEvent)="addProduct($event)" (substracProductEvent)="substractProduct($event)"></app-button-shop>
    </div>
    <div class="col-3 d-flex flex-column align-items-left">
        <img src="assets/products/mouse.jpg" alt="" class="image-product">
        <app-button-shop #buttonShop [cart_create]="cart_create" [product_name]="'Mouse'" (addProductEvent)="addProduct($event)" (substracProductEvent)="substractProduct($event)"></app-button-shop>
    </div>
</section>
<section class="row">
    <div class="col-3 d-flex flex-column align-items-left">
        <img src="assets/products/teclado.jpg" alt="" class="image-product">
        <app-button-shop #buttonShop [cart_create]="cart_create" [product_name]="'Teclado'" (addProductEvent)="addProduct($event)" (substracProductEvent)="substractProduct($event)"></app-button-shop>
    </div>
    <div class="col-3 d-flex flex-column align-items-left">
        <img src="assets/products/gabinete.jpg" alt="" class="image-product">
        <app-button-shop #buttonShop [cart_create]="cart_create" [product_name]="'Gabinete'" (addProductEvent)="addProduct($event)" (substracProductEvent)="substractProduct($event)"></app-button-shop>
    </div>
</section>