<section class="container mt-5">
    <div class="row g-3">
        <div class="col-5 d-flex flex-column align-items-center select" *ngFor="let product of paginatedProducts">
            <img [src]="'assets/products/' + product.name + '.jpg'" alt="" class="image-product">
            <p class="name">{{product.name}}</p>
            <span class="price">{{"$" + product.price}}</span>
            <app-button-shop 
                [cart_create]="cart_create" 
                [product_name]="product.name" 
                (addProductEvent)="addProduct($event)" 
                (substracProductEvent)="substractProduct($event)">
            </app-button-shop>
        </div>
    </div>
    <div class="d-flex justify-content-between align-items-center mb-3 mt-4">
        <button class="btn btn-outline-danger" (click)="prevPage()" [disabled]="currentIndex === 0">
            <i class="fa-solid fa-chevron-left"></i>
        </button>
        <button class="btn btn-outline-danger arrow-button" (click)="nextPage()" [disabled]="currentIndex + itemsPerPage >= productList.length">
            <i class="fa-solid fa-chevron-right"></i>
        </button>
    </div>
</section>