<section class="container mt-5">
    <div class="row g-3"> <!-- g-3 agrega espacio entre los productos -->
        <div class="col-5 d-flex flex-column align-items-center" *ngFor="let product of productList">
            <img [src]="'assets/products/' + product.name + '.jpg'" alt="" class="image-product">
            <app-button-shop 
                [cart_create]="cart_create" 
                [product_name]="product.name" 
                (addProductEvent)="addProduct($event)" 
                (substracProductEvent)="substractProduct($event)">
            </app-button-shop>
        </div>
    </div>
</section>